mixin form-check(checkName, checkText, linkOrButton={text: '', href: ''})
  .form-check
    input.form-check__box(type='checkbox', id=checkName, name=checkName)&attributes(attributes)
    label.form-check__label(for=checkName) #{checkText}
      if linkOrButton.text
        include UIKit/button/button.pug
        if linkOrButton.href
          a.form-check__link(href=linkOrButton.href)
            +button('check-with-link', 'button', 'link', linkOrButton.text)(class='form-check__button')
        else
          +button('check-with-link', 'button', 'link', linkOrButton.text)(class='form-check__button')
