mixin form-control(labelText, inputType, inputName, placeholder)
  .form-control
    label.form-control__label.font-base_xl(for=inputName) #{labelText}
    block content
      input.form-control__input(type=inputType, name=inputName, id=inputName, placeholder=placeholder)
    span.form-control__error Текст ошибки
