extends UIKit/form-control/form-control.pug

block content
  .form-control__wrapper
    input.form-control__input(
      type=inputType,
      name=inputName,
      id=inputName,
      placeholder=placeholder,
      data-ui-kit-id='password')
    .form-control__password-toggle
